

  <br>
  <br>
  
  <h5><i class="fa fa-user-plus" aria-hidden="true"></i>  Register your emplyee here !</h5>
  <hr>   
<form [formGroup]="employeeAddForm" (ngSubmit)="registerUser()" style="width: 60%">
  <div class="form-group">
    <label for="FirstName">First Name</label>
    <input type="text" class="form-control input-sm" id="firstName" formControlName="first_name">
    <div
      *ngIf="employeeAddForm.controls['first_name'].invalid && (employeeAddForm.controls['first_name'].dirty || employeeAddForm.controls['first_name'].touched)"
      style="color: red">
      <div *ngIf="employeeAddForm.controls['first_name'].errors.required"> First Name is required.</div>
      <div
        *ngIf="employeeAddForm.controls['first_name'].errors.minlength || employeeAddForm.controls['first_name'].errors.minlength">
        Please enter 3 to 50 characters</div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" class="form-control input-sm" id="lastName" formControlName="last_name">
    <div
      *ngIf="employeeAddForm.controls['last_name'].invalid && (employeeAddForm.controls['last_name'].dirty || employeeAddForm.controls['last_name'].touched)"
      style="color: red">
      <div *ngIf="employeeAddForm.controls['last_name'].errors.required">Last Name is required.</div>

    </div>
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth:</label>
    <input type="text" class="form-control" id="dob" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig"
      formControlName="dob">
    <div
      *ngIf="employeeAddForm.controls['dob'].invalid && (employeeAddForm.controls['dob'].dirty || employeeAddForm.controls['dob'].touched)"
      style="color: red">
      <div *ngIf="employeeAddForm.controls['dob'].errors.required"> Date of Birth is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="gender">Gender:</label>
    <select class="form-control input-sm" id="gender" formControlName="gender">
      <option>Female</option>
      <option>Male</option>
      <option>Other</option>
    </select>
    <div
      *ngIf="employeeAddForm.controls['gender'].invalid && (employeeAddForm.controls['gender'].dirty || employeeAddForm.controls['gender'].touched)"
      style="color: red">
      <div *ngIf="employeeAddForm.controls['gender'].errors.required"> Gender is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="department">Department:</label>
    <input type="text" class="form-control input-sm" id="department" formControlName="department">
    <div
      *ngIf="employeeAddForm.controls['department'].invalid && (employeeAddForm.controls['department'].dirty || employeeAddForm.controls['department'].touched)"
      style="color: red">
      <div *ngIf="employeeAddForm.controls['department'].errors.required"> Department is required.</div>
      <div
        *ngIf="employeeAddForm.controls['department'].errors.minlength || employeeAddForm.controls['department'].errors.minlength">
        Please enter 2 to 50 characters</div>
    </div>
  </div>

  <button type="submit"  id="register" [disabled]="!employeeAddForm.valid"  [ngClass]="[!employeeAddForm.valid ?'disabled-button btn btn-primary':'btn btn-primary' ]" >Register</button>
</form>